﻿#ulRptOverflowx {
    font-family: "Trebuchet MS", 'Product Sans', Helvetica, sans-serif;
    border: 1px solid #ddd;
    width: 900px;
    padding: 160px;

}

    #ulRptOverflowx tr {
        border: 1px solid #ddd;
        padding: 1px;
        text-align: left;
        color: black;
        text-align: center;
         padding: 160px;

    }

        #ulRptOverflowx tr th {
            border: 1px solid #ddd;
            padding: 0px;
                width: 1900px;
            background-color: #808080;
            color: white;
            text-align: center;
             height:1%;
        }

        #ulRptOverflowx tr td {
            border: 1px solid #ddd;
            padding: 0px;
            text-align: left;
            color: black;
            text-align: center;
               
        }



    #ulRptCashIn {
    font-family: "Trebuchet MS", 'Product Sans', Helvetica, sans-serif;
    border: 1px solid #ddd;
    width: 1900px;
}


    #ulRptCashIn tr {
        border: 1px solid #ddd;
        padding: 0px;
        text-align: left;
        color: black;
        text-align: center;
    }

    #ulRptCashIn tr th {
            border: 1px solid #ddd;
            padding: 0px;
            width: 15%;
         background-color: #808080;
            color: white;
            text-align: center;
        }

    #ulRptCashIn tr td {
            border: 1px solid #ddd;
            padding: 0px;
            text-align: left;
            color: black;
            text-align: center;
        }



    #ulRptCashIngoal {
    font-family: "Trebuchet MS", 'Product Sans', Helvetica, sans-serif;
    border: 1px solid #ddd;
     width: 1900px;
}


    #ulRptCashIngoal tr {
    border: 1px solid #ddd;
    padding: 0px;
    text-align: left;
    color: black;
    text-align: center;
}

    #ulRptCashIngoal tr th {
        border: 1px solid #ddd;
        padding: 0px;
        width: 10%;
     background-color: #808080;
        color: white;
        text-align: center;
    }

    #ulRptCashIngoal tr td {
        border: 1px solid #ddd;
        padding: 0px;
        text-align: left;
        color: black;
        text-align: center;
    }

    #rptrLinkInvst {
    font-family: "Trebuchet MS", 'Product Sans', Helvetica, sans-serif;
    border: 1px solid #ddd;
    width: 1900px;
}


    #rptrLinkInvst tr {
        border: 1px solid #ddd;
        padding: 0px;
        text-align: left;
        color: black;
        text-align: center;
    }

    #rptrLinkInvst tr th {
            border: 1px solid #ddd;
            padding: 0px;
            width: 10%;
         background-color: #808080;
            color: white;
            text-align: center;
        }

    #rptrLinkInvst tr td {
            border: 1px solid #ddd;
            padding: 0px;
            text-align: left;
            color: black;
            text-align: center;
        }
