﻿/* Latest compiled and minified CSS included as External Resource*/

/* Optional theme */

/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');*/
body {
    margin-top: 30px;
}

.col-xs-2 {
    width: 13.666667% !important;
}
.stepwizard-step p {
    margin-top: 0px;
    color: #666;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.ui-widget {
    font-size:12px !important;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.labelBlue {
    color: #14b8f0;
    font-size: 19px;
}

.small-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 3px 5px;
    font-size: 9px;
    line-height: 1.428571429;
    border-radius: 41px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.redlnk {
    color:darkred;
    font-weight:bold;
}
.greenlnk {
    color: darkgreen;
    font-weight:bold;
}
/*******************************************************************/
.form-style-2 {
    min-width: 100%;
    float: left;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-view {
    max-width: 100%;
    min-height: 261px;
    padding: 20px 0px 10px 0px;
    background: #DADADA;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-Invst {
    max-width: 100%;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-2-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 0px;
    font-size: 15px;
    padding-bottom: 3px;
}

.form-style-2 label {
    display: block;
    margin: 0px 0px 15px 0px;
}

    .form-style-2 label > span {
        width: 100px;
        font-weight: bold;
        float: left;
        padding-top: 8px;
        padding-right: 5px;
    }

#UpdatePanel1 label {
    display: block;
    margin: 0px 0px 15px 0px;
    clear: both;
}

    #UpdatePanel1 label > span {
        width: 120px;
        font-weight: bold;
        float: left;
        padding-top: 8px;
        padding-right: 5px;
    }

.form-style-2 span.required {
    color: red;
}

.form-style-2 .tel-number-field {
    width: 40px;
    text-align: center;
}

.form-style-2 input.input-field, .form-style-2 .select-field {
    width: 48%;
}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

    .form-style-2 .input-field:focus,
    .form-style-2 .tel-number-field:focus,
    .form-style-2 .textarea-field:focus,
    .form-style-2 .select-field:focus {
        border: 1px solid #0C0;
    }

.form-style-2 .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

    .form-style-2 input[type=submit]:hover,
    .form-style-2 input[type=button]:hover {
        background: #EA7B00;
        color: #fff;
    }

/*************************************************/


#ulRptCashIngoal {
    list-style: none;
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-size: 12px;
    min-height: 200px;
}

#ulRptCashIngoal ul {
        list-style: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

#ulRptCashIngoal li ul li {
        display: inline-block;
        min-width: 200px !important;
        border: none !important;
    }

#ulRptCashIngoal li:first-child {
        border-bottom: 4px solid #666;
        font-weight: bold;
    }







#ulRptCashIn {
    list-style: none;
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-size: 12px;
    min-height: 200px;
}

    #ulRptCashIn ul {
        list-style: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #ulRptCashIn li ul li {
        display: inline-block;
        min-width: 100px !important;
        border: none !important;
    }

    #ulRptCashIn li:first-child {
        border-bottom: 4px solid #666;
        font-weight: bold;
    }

#invoice {
    padding: 0px;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 0px
}

    .invoice header {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #3989c6
    }

    .invoice .company-details {
        text-align: right
    }

        .invoice .company-details .name {
            margin-top: 0;
            margin-bottom: 0
        }

    .invoice .contacts {
        margin-bottom: 20px
    }

    .invoice .invoice-to {
        text-align: left
    }

        .invoice .invoice-to .to {
            margin-top: 0;
            margin-bottom: 0
        }

    .invoice .invoice-details {
        text-align: right
    }

        .invoice .invoice-details .invoice-id {
            margin-top: 0;
            color: #3989c6
        }

    .invoice main {
        padding-bottom: 50px
    }

        .invoice main .thanks {
            margin-top: -100px;
            font-size: 2em;
            margin-bottom: 50px
        }

        .invoice main .notices {
            padding-left: 6px;
            border-left: 6px solid #3989c6
        }

            .invoice main .notices .notice {
                font-size: 1.2em
            }

    .invoice table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px
    }

        .invoice table td, .invoice table th {
            padding: 15px;
            background: #eee;
            border-bottom: 1px solid #fff
        }

        .invoice table th {
            white-space: nowrap;
            font-weight: 400;
            font-size: 16px
        }

        .invoice table td h3 {
            margin: 0;
            font-weight: 400;
            color: #3989c6;
            font-size: 1.2em
        }

        .invoice table .qty, .invoice table .total, .invoice table .unit {
            text-align: right;
            font-size: 1.2em
        }

        .invoice table .no {
            color: #fff;
            font-size: 1.6em;
            background: #3989c6
        }

        .invoice table .unit {
            background: #ddd
        }

        .invoice table .total {
            background: #3989c6;
            color: #fff
        }

        .invoice table tbody tr:last-child td {
            border: none
        }

        .invoice table tfoot td {
            background: 0 0;
            border-bottom: none;
            white-space: nowrap;
            text-align: right;
            padding: 10px 20px;
            font-size: 1.2em;
            border-top: 1px solid #aaa
        }

        .invoice table tfoot tr:first-child td {
            border-top: none
        }

        .invoice table tfoot tr:last-child td {
            color: #3989c6;
            font-size: 1.4em;
            border-top: 1px solid #3989c6
        }

        .invoice table tfoot tr td:first-child {
            border: none
        }

    .invoice footer {
        width: 100%;
        text-align: center;
        color: #777;
        border-top: 1px solid #aaa;
        padding: 8px 0
    }

@media print {
    .invoice {
        font-size: 11px !important;
        overflow: hidden !important
    }

        .invoice footer {
            position: absolute;
            bottom: 10px;
            page-break-after: always
        }

        .invoice > div:last-child {
            page-break-before: always
        }
}