﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Coverpageofplan.aspx.cs" Inherits="FinFinancialPlan.Coverpageofplan" MasterPageFile="~/Planmasterpage.Master" %>

   <asp:content ID="cover" ContentPlaceHolderID="masterpagecontent" runat="server">  
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

<link href="css/timeout-dialog.css" rel="stylesheet" />
<script src="js/timeout-dialog.js"></script>

    <title>Fincart</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/"/>

    <!-- Bootstrap core CSS -->
    <link href="css/planpage2.css" rel="stylesheet" /> 
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/pagedashboard.css" rel="stylesheet" />
        <style>
            .background {
                background-image: url('imagess/Backforplan.png');
                background-repeat: no-repeat;
                /* Full height */
                height: 100%;
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .heading {
                text-align: center;
                color: black;
            }

    

            .elementButton {
                position: absolute;
                bottom: 70px;
                right: 10px;
                height: 50px;
                width: 200px;
                color: white;
                background-color: blue;
            }


            .img {
  margin-left:20px;

                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }
        </style>
</head>
        
<body>
      
    <div class="heding">
        <h1 class="heading">&nbsp;Path Towards Your Dreams</h1>


    </div>
    <div>
        <asp:Image ID="Image3"  runat="server" ImageUrl="~/imagess/content.jpg" CssClass="img" Height="495px" Width="1037px" />
    </div>
    <h1 class="heading">

        <asp:Label ID="ClientName" runat="server"></asp:Label>
        's DREAM PLAN</h1>

    <h1 class="heading">PREPARED BY:- FINCART</h1>


   
</body>
    </html>
</asp:content>

