﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Revisedcashflow.aspx.cs" Inherits="FinFinancialPlan.Revisedcashflow" MasterPageFile="~/Planmasterpage.Master" %>
<asp:Content ID="cover" ContentPlaceHolderID="masterpagecontent" runat="server">

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

<link href="css/timeout-dialog.css" rel="stylesheet" />
<script src="js/timeout-dialog.js"></script>
        <title>Fincart</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/" />

        <!-- Bootstrap core CSS -->
        <link href="css/planpage2.css" rel="stylesheet" />
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- Custom styles for this template -->
        <link href="css/pagedashboard.css" rel="stylesheet" />

        <script src="js/session.js"></script>
<style>
    .background {
        background-image: url('imagess/Backforplan.png');
        background-repeat: no-repeat;
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-repeat: no-repeat;
        background-size: cover;
    }

    .heading {
        text-align: center;
        color: black;
    }




    .img {
        margin-left: 350px;
        border: 0px;
        height: 620px;
    }

    #rptrLinkInvst {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border: 1px solid #ddd;
                width: 100%;
    }

        #rptrLinkInvst tr {
            border: 1px solid #ddd;
                    padding: 0px;
                
                    text-align: left;
                    color: black;
                    text-align: center;
            
        }

            #rptrLinkInvst tr th {
              border: 1px solid #ddd;
                        padding: 0px;
                     
                       width:10%;
                       background-color: #4CAF50;
                        color: white;
                        text-align: center;
            }

    td, th {
      border: 1px solid #ddd;
                        padding: 0px;
                  
                        text-align: left;
                        color: black;
                        text-align: center;
            
    }


            table tr th {


                     border: 1px solid #ddd;
                        padding: 0px;
                     
                       width:10%;
                       background-color: #4CAF50;
                        color: white;
                        text-align: center;


            }

            #rptrLinkInvst tr td {
               border: 1px solid #ddd;
                        padding: 0px;
                  
                        text-align: left;
                        color: black;
                        text-align: center;

</style>

</head>
<body>
   


   

   <div>
           <h1 class="heading"><u><b>Reality Check Revised Cash Flow</b></u></h1>

       <asp:Repeater ID="rptrLinkInvstm" runat="server" >
                    <HeaderTemplate>
                        <table id="rptrLinkInvst">
                            <tr>
                            </tr>
                            <tr>
                               <th>Incomes</th>
                                <th>Monthly Amount</th>
                           
                           
                    </HeaderTemplate>
                    <ItemTemplate>
            
                          <tr>
                              
                              <td><%#DataBinder.Eval(Container,"DataItem.Income Type")%></td>
                              <td><%#formatter.IndianCurrency(Convert.ToString(DataBinder.Eval(Container,"DataItem.Income")))%></td>

                          </tr>

                  
                    </ItemTemplate>

                 

             
                    <FooterTemplate>   </table>
                    </FooterTemplate>    
                    
                </asp:Repeater>

              <asp:Repeater ID="Repeater2" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">

                        <tr>
                            <th>Total Income</th>
                                  
                               <th> <%=totalin%></th>
                        </tr>

                

                </HeaderTemplate>
                <ItemTemplate>
                </ItemTemplate>



                <FooterTemplate>
                        </table>
                </FooterTemplate>

            </asp:Repeater>
            <asp:Repeater ID="Repeater1" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">
                        <tr>
                        </tr>
                        <tr>
                            <th>Fixed Expence</th>
                            <th>Amount</th>
                </HeaderTemplate>
                <ItemTemplate>

                    <tr>

                        <td><%#DataBinder.Eval(Container,"DataItem.Fixed Expense Type")%></td>
                        <td><%#formatter.IndianCurrency(Convert.ToString(DataBinder.Eval(Container,"DataItem.Fixed_Expense"))) %></td>

                    </tr>


                </ItemTemplate>




                <FooterTemplate>
                    </table>
                </FooterTemplate>

            </asp:Repeater>
            <asp:Repeater ID="Repeater3" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">

                        <tr>
                            <th>Total Fixed Expense</th>
                                <th> <%=formatter.IndianCurrency(Convert.ToString(totalfixedexpence))%></th>
                </HeaderTemplate>
                <ItemTemplate>
                </ItemTemplate>



                <FooterTemplate>
                    </table>
                </FooterTemplate>

            </asp:Repeater>
            <asp:Repeater ID="Repeater4" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">
                        <tr>
                        </tr>
                        <tr>
                            <th>Discretionary Expence</th>

                            <th Amount</th>
                </HeaderTemplate>
                <ItemTemplate>

                    <tr>

                        <td><%#DataBinder.Eval(Container,"DataItem.Dis Expense Type")%></td>
                        <td><%#formatter.IndianCurrency(Convert.ToString(DataBinder.Eval(Container,"DataItem.discretionay_Expense"))) %></td>

                    </tr>


                </ItemTemplate>




                <FooterTemplate>
                    </table>
                </FooterTemplate>

            </asp:Repeater>

            <asp:Repeater ID="Repeater7" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">

                        <tr>
                            <th>Total Discretionary Expense</th>
                          <th><%=formatter.IndianCurrency(Convert.ToString(totaldisexpence))%></th>
                </HeaderTemplate>
                <ItemTemplate>
                </ItemTemplate>



                <FooterTemplate>
                    </table>
                </FooterTemplate>

            </asp:Repeater>


 
       
       <asp:Repeater ID="assets" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">

                        <tr>
                            <th>Assets/Goal Name</th>
                            <th>Monthly Investment</th>
                </HeaderTemplate>
                <ItemTemplate>
                  
                        <tr>


                            <td><%#DataBinder.Eval(Container,"DataItem.GName")%></td>
                        <td><%#formatter.IndianCurrency(Convert.ToString(DataBinder.Eval(Container,"DataItem.surplusAlloted"))) %></td>


                        </tr>



               
                    
                </ItemTemplate>
                <FooterTemplate>
                    </table>
                </FooterTemplate>

            </asp:Repeater>
       
            <asp:Repeater ID="Repeater6" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">

                        <tr>
                            <th>Total Commited Saving </th>
                                       
                         <th> <%=formatter.IndianCurrency(Convert.ToString(totalsavexpence))%></th>
                </HeaderTemplate>
                <ItemTemplate>
                </ItemTemplate>



                <FooterTemplate>
                    </table>
                </FooterTemplate>

            </asp:Repeater>




            <asp:Repeater ID="Repeater9" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">

                        <tr>
                            <th>Total Income</th>
                                  
                               <th> <%=formatter.IndianCurrency(Convert.ToString(totalin))%></th>
                </HeaderTemplate>
                <ItemTemplate>
                </ItemTemplate>



                <FooterTemplate>
                    </table>
                </FooterTemplate>

            </asp:Repeater>
            <asp:Repeater ID="Repeater8" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">

                        <tr>
                            <th>Total Expenses</th>
                                       
                        <th>  <%=formatter.IndianCurrency(Convert.ToString(totalout))%></th>
                </HeaderTemplate>
                <ItemTemplate>
                </ItemTemplate>



                <FooterTemplate>
                    </table>
                </FooterTemplate>

            </asp:Repeater>
                  <asp:Repeater ID="Repeater10" runat="server">
                <HeaderTemplate>
                    <table id="rptrLinkInvst">

                        <tr>
                            <th>Net Cash Flow</th>
                                   
                               <th> <%=formatter.IndianCurrency(Convert.ToString(netcashflow))%></th>
                </HeaderTemplate>
                <ItemTemplate>
                </ItemTemplate>



                <FooterTemplate>
                    </table>
                </FooterTemplate>

            </asp:Repeater>
      

       <%--// Assets Starts here//--%>


                   


      </div>


    </body>
</html>
    </asp:Content>

